html {
  background-color: #f6f4fa;
  
}
/* .App-header {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
} */

.navbar {
  display: flex;
  padding: 15px;
  width: 100%;
  justify-content: center;
}
.not-selected {
  padding: 10px;
  color: #2b733b;
  margin: 15px; 
  text-decoration: none;
  border: 1px solid rgb(143, 142, 142);
  border-radius: 3px;
  transition: 0.1s background-color linear, 0.1s color linear;  
}
.selected {
  font-weight: bolder;
  background-color: #339381f7;
  text-decoration: none;
  color: whitesmoke;
}
